-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: digitalpds
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admins`
--

DROP TABLE IF EXISTS `admins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admins` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `email` varchar(120) NOT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `password_hash` varchar(255) NOT NULL,
  `office_location` varchar(150) DEFAULT 'Central Headquarters',
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admins`
--

LOCK TABLES `admins` WRITE;
/*!40000 ALTER TABLE `admins` DISABLE KEYS */;
INSERT INTO `admins` VALUES (4,'Super Admin','admin@gmail.com','9876543210','$2b$12$ZjuxEjsU30vfluW3ZtpbUOzXbyx4WtBd4.y8AZcsZzMNCBEm4PhZy','Central Headquarters');
/*!40000 ALTER TABLE `admins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `appointments`
--

DROP TABLE IF EXISTS `appointments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `appointments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `clinic_id` int(11) NOT NULL,
  `appointment_date` date NOT NULL,
  `time_slot` varchar(50) DEFAULT NULL,
  `status` enum('BOOKED','COMPLETED','CANCELLED') DEFAULT 'BOOKED',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  KEY `clinic_id` (`clinic_id`),
  CONSTRAINT `appointments_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `appointments_ibfk_2` FOREIGN KEY (`clinic_id`) REFERENCES `clinics` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `appointments`
--

LOCK TABLES `appointments` WRITE;
/*!40000 ALTER TABLE `appointments` DISABLE KEYS */;
/*!40000 ALTER TABLE `appointments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `brushing_checkins`
--

DROP TABLE IF EXISTS `brushing_checkins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `brushing_checkins` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `member_id` int(11) DEFAULT NULL,
  `checkin_date` date NOT NULL,
  `session` enum('MORNING','EVENING') DEFAULT 'MORNING',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_member_date_session` (`user_id`,`member_id`,`checkin_date`,`session`)
) ENGINE=InnoDB AUTO_INCREMENT=239 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `brushing_checkins`
--

LOCK TABLES `brushing_checkins` WRITE;
/*!40000 ALTER TABLE `brushing_checkins` DISABLE KEYS */;
/*!40000 ALTER TABLE `brushing_checkins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `brushing_logs`
--

DROP TABLE IF EXISTS `brushing_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `brushing_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `member_id` int(11) NOT NULL,
  `date` date NOT NULL,
  `session_type` enum('MORNING','EVENING') NOT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  KEY `member_id` (`member_id`),
  CONSTRAINT `brushing_logs_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `brushing_logs_ibfk_2` FOREIGN KEY (`member_id`) REFERENCES `family_members` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `brushing_logs`
--

LOCK TABLES `brushing_logs` WRITE;
/*!40000 ALTER TABLE `brushing_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `brushing_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clinics`
--

DROP TABLE IF EXISTS `clinics`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `clinics` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `clinic_name` varchar(150) NOT NULL,
  `address` text DEFAULT NULL,
  `district` varchar(100) DEFAULT NULL,
  `contact_number` varchar(20) DEFAULT NULL,
  `latitude` double DEFAULT NULL,
  `longitude` double DEFAULT NULL,
  `website` varchar(255) DEFAULT NULL,
  `booking_available` tinyint(1) DEFAULT 1,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clinics`
--

LOCK TABLES `clinics` WRITE;
/*!40000 ALTER TABLE `clinics` DISABLE KEYS */;
INSERT INTO `clinics` VALUES (12,'clove dental',NULL,NULL,NULL,NULL,NULL,'https://clovedental.in/',1),(13,'32 dental',NULL,NULL,NULL,NULL,NULL,'https://www.32dentalcare.org/',1);
/*!40000 ALTER TABLE `clinics` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dealer_locations`
--

DROP TABLE IF EXISTS `dealer_locations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dealer_locations` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `location_name` varchar(150) NOT NULL,
  `dealer_id` int(11) NOT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `location_name` (`location_name`),
  KEY `dealer_id` (`dealer_id`),
  CONSTRAINT `dealer_locations_ibfk_1` FOREIGN KEY (`dealer_id`) REFERENCES `dealers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dealer_locations`
--

LOCK TABLES `dealer_locations` WRITE;
/*!40000 ALTER TABLE `dealer_locations` DISABLE KEYS */;
INSERT INTO `dealer_locations` VALUES (10,'POONAMALLE',17,1,'2026-04-09 10:44:25','2026-04-09 10:44:25'),(11,'Ponnamalle',18,1,'2026-04-09 13:45:50','2026-04-09 13:45:50'),(25,'chinna',33,1,'2026-04-10 09:47:15','2026-04-10 09:47:15'),(27,' kjnk',35,1,'2026-04-10 10:58:54','2026-04-10 10:58:54'),(29,'nbdwksjn',37,1,'2026-04-10 11:59:41','2026-04-10 11:59:41'),(30,'T Nagar',38,1,'2026-04-11 11:47:49','2026-04-11 11:47:49');
/*!40000 ALTER TABLE `dealer_locations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dealer_stock`
--

DROP TABLE IF EXISTS `dealer_stock`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dealer_stock` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `dealer_id` int(11) NOT NULL,
  `item_name` varchar(100) NOT NULL,
  `quantity` int(11) DEFAULT 0,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_dealer_item` (`dealer_id`,`item_name`),
  CONSTRAINT `dealer_stock_ibfk_1` FOREIGN KEY (`dealer_id`) REFERENCES `dealers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dealer_stock`
--

LOCK TABLES `dealer_stock` WRITE;
/*!40000 ALTER TABLE `dealer_stock` DISABLE KEYS */;
INSERT INTO `dealer_stock` VALUES (26,17,'BRUSH',17),(27,17,'TOOTHPASTE',17),(28,17,'FLYER',17),(29,37,'BRUSH',9),(30,37,'TOOTHPASTE',9),(31,37,'FLYER',9);
/*!40000 ALTER TABLE `dealer_stock` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dealers`
--

DROP TABLE IF EXISTS `dealers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dealers` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `email` varchar(120) NOT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `company_name` varchar(150) DEFAULT NULL,
  `password_hash` varchar(255) NOT NULL,
  `dealer_qr_value` varchar(255) DEFAULT NULL,
  `dealer_qr_image` varchar(255) DEFAULT NULL,
  `address` text DEFAULT NULL,
  `username` varchar(100) DEFAULT NULL,
  `city` varchar(100) DEFAULT NULL,
  `state` varchar(100) DEFAULT NULL,
  `location` varchar(150) DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `pincode` varchar(20) DEFAULT NULL,
  `contact_person` varchar(100) DEFAULT NULL,
  `contact_phone` varchar(20) DEFAULT NULL,
  `handle` varchar(100) DEFAULT NULL,
  `active_status` varchar(50) DEFAULT 'Active',
  `is_enabled` tinyint(1) DEFAULT 1,
  `reset_code` varchar(255) DEFAULT NULL,
  `reset_expiry` datetime DEFAULT NULL,
  `email_verified` tinyint(1) DEFAULT 0,
  `email_verification_otp` varchar(10) DEFAULT NULL,
  `email_verification_expiry` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `dealer_qr_value` (`dealer_qr_value`)
) ENGINE=InnoDB AUTO_INCREMENT=39 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dealers`
--

LOCK TABLES `dealers` WRITE;
/*!40000 ALTER TABLE `dealers` DISABLE KEYS */;
/*!40000 ALTER TABLE `dealers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `family_members`
--

DROP TABLE IF EXISTS `family_members`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `family_members` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `member_name` varchar(100) NOT NULL,
  `age` int(11) DEFAULT NULL,
  `brushing_target` int(11) DEFAULT 14,
  `weekly_brush_count` int(11) DEFAULT 0,
  `relation` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `family_members_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `family_members`
--

LOCK TABLES `family_members` WRITE;
/*!40000 ALTER TABLE `family_members` DISABLE KEYS */;
INSERT INTO `family_members` VALUES (4,21,'Raju ',16,14,1,'son'),(5,21,'raju ',17,14,0,'son'),(9,12,'sai',14,14,0,'son'),(10,12,'rakesh ',10,14,0,'son'),(17,29,'raja',15,14,0,'Male'),(18,29,'rani',18,14,0,'Female'),(19,30,'kim',15,14,0,'Male'),(20,30,'ram',13,14,0,'Male'),(21,31,'sai',15,14,0,'Male'),(22,31,'raj',16,14,0,'Male'),(23,45,'shiva',15,14,0,'son'),(26,13,'arjun',24,14,0,'son'),(30,85,'krishna',15,14,0,'son'),(31,85,'shiva',17,14,0,'son');
/*!40000 ALTER TABLE `family_members` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kit_distributions`
--

DROP TABLE IF EXISTS `kit_distributions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kit_distributions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `beneficiary_id` int(11) NOT NULL,
  `dealer_id` int(11) NOT NULL,
  `kit_unique_id` varchar(100) NOT NULL,
  `status` enum('PENDING','CONFIRMED') DEFAULT 'PENDING',
  `expiry` datetime DEFAULT NULL,
  `confirmed_at` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `confirmation_mode` varchar(50) DEFAULT 'USER_QR_SCAN',
  `old_kit_returned` tinyint(1) NOT NULL DEFAULT 0,
  `paste_received` int(11) NOT NULL DEFAULT 0,
  `iec_received` int(11) NOT NULL DEFAULT 0,
  `brush_received` int(11) DEFAULT 0,
  PRIMARY KEY (`id`),
  UNIQUE KEY `kit_unique_id` (`kit_unique_id`),
  KEY `beneficiary_id` (`beneficiary_id`),
  KEY `dealer_id` (`dealer_id`),
  CONSTRAINT `kit_distributions_ibfk_1` FOREIGN KEY (`beneficiary_id`) REFERENCES `users` (`id`) ON DELETE CASCADE,
  CONSTRAINT `kit_distributions_ibfk_2` FOREIGN KEY (`dealer_id`) REFERENCES `dealers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=78 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kit_distributions`
--

LOCK TABLES `kit_distributions` WRITE;
/*!40000 ALTER TABLE `kit_distributions` DISABLE KEYS */;
INSERT INTO `kit_distributions` VALUES (74,74,37,'7e85de21-597a-425a-835e-f0ebc15ff453','CONFIRMED','2026-04-11 06:35:59','2026-04-10 06:35:59','2026-04-10 06:35:59','DEALER_MANUAL',1,1,1,1),(76,82,17,'0ec7e159-7566-44a5-a658-eeb6ae3c4ce1','CONFIRMED','2026-04-12 03:02:39','2026-04-11 03:02:39','2026-04-11 03:02:39','USER_QR_SCAN',1,1,1,1),(77,86,38,'f35d2ef0-8621-4ef1-8890-ad522df67673','PENDING','2026-04-12 06:29:17',NULL,'2026-04-11 06:29:17','USER_QR_SCAN',0,0,0,0);
/*!40000 ALTER TABLE `kit_distributions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `member_monthly_usage`
--

DROP TABLE IF EXISTS `member_monthly_usage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `member_monthly_usage` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `member_id` int(11) NOT NULL,
  `month_year` varchar(7) NOT NULL,
  `paste_consumption` varchar(30) DEFAULT 'Unknown',
  `brush_condition` varchar(30) DEFAULT 'Unknown',
  `remarks` text DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `member_monthly_usage`
--

LOCK TABLES `member_monthly_usage` WRITE;
/*!40000 ALTER TABLE `member_monthly_usage` DISABLE KEYS */;
/*!40000 ALTER TABLE `member_monthly_usage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `registration_otps`
--

DROP TABLE IF EXISTS `registration_otps`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `registration_otps` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `email` varchar(120) NOT NULL,
  `otp_code` varchar(10) NOT NULL,
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=54 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `registration_otps`
--

LOCK TABLES `registration_otps` WRITE;
/*!40000 ALTER TABLE `registration_otps` DISABLE KEYS */;
INSERT INTO `registration_otps` VALUES (16,'s49093485@gmail.com','860772','2026-04-09 04:47:34'),(17,'karjunm338@gmail.com','621394','2026-04-09 04:48:49'),(34,'shivaraj6t6@gmil.com','682839','2026-04-10 04:00:22'),(39,'koteswararao1581.sse@saveetha.com','915682','2026-04-10 05:27:21');
/*!40000 ALTER TABLE `registration_otps` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stock_requests`
--

DROP TABLE IF EXISTS `stock_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `stock_requests` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `dealer_id` int(11) NOT NULL,
  `item_name` enum('BRUSH','TOOTHPASTE','FLYER','KIT') NOT NULL,
  `requested_quantity` int(11) NOT NULL,
  `total_kits` int(11) DEFAULT 0,
  `status` enum('PENDING','APPROVED','DISPATCHED','DELIVERED','REJECTED') DEFAULT 'PENDING',
  `requested_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `reviewed_at` datetime DEFAULT NULL,
  `request_id` varchar(100) NOT NULL DEFAULT '',
  `urgency` varchar(50) DEFAULT 'Normal',
  `dispatched_at` datetime DEFAULT NULL,
  `courier_name` varchar(120) DEFAULT NULL,
  `tracking_id` varchar(120) DEFAULT NULL,
  `dispatch_address` text DEFAULT NULL,
  `dispatch_city` varchar(100) DEFAULT NULL,
  `dispatch_state` varchar(100) DEFAULT NULL,
  `delivered_at` datetime DEFAULT NULL,
  `admin_note` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `dealer_id` (`dealer_id`),
  CONSTRAINT `stock_requests_ibfk_1` FOREIGN KEY (`dealer_id`) REFERENCES `dealers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=90 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stock_requests`
--

LOCK TABLES `stock_requests` WRITE;
/*!40000 ALTER TABLE `stock_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `stock_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teeth_reports`
--

DROP TABLE IF EXISTS `teeth_reports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `teeth_reports` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `member_id` int(11) DEFAULT NULL,
  `image_path` text DEFAULT NULL,
  `ai_result` text DEFAULT NULL,
  `risk_level` enum('LOW','MEDIUM','HIGH') DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `teeth_reports_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=78 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teeth_reports`
--

LOCK TABLES `teeth_reports` WRITE;
/*!40000 ALTER TABLE `teeth_reports` DISABLE KEYS */;
/*!40000 ALTER TABLE `teeth_reports` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `email` varchar(120) NOT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `password_hash` varchar(255) NOT NULL,
  `pds_card_no` varchar(50) DEFAULT NULL,
  `pds_linked_at` datetime DEFAULT NULL,
  `pds_verified` tinyint(1) DEFAULT 0,
  `reset_code` varchar(255) DEFAULT NULL,
  `reset_expiry` datetime DEFAULT NULL,
  `dealer_id` int(11) DEFAULT NULL,
  `location_id` int(11) DEFAULT NULL,
  `created_by_type` varchar(20) DEFAULT 'SELF',
  `dealer_assigned_at` datetime DEFAULT NULL,
  `dealer_assignment_locked` tinyint(1) DEFAULT 0,
  `pds_card_front` varchar(255) DEFAULT NULL,
  `pds_card_back` varchar(255) DEFAULT NULL,
  `address` text DEFAULT NULL,
  `age` int(11) DEFAULT NULL,
  `gender` varchar(20) DEFAULT NULL,
  `education` varchar(100) DEFAULT NULL,
  `employment` varchar(100) DEFAULT NULL,
  `profile_image` varchar(255) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `email_verified` tinyint(1) DEFAULT 0,
  `email_verification_otp` varchar(10) DEFAULT NULL,
  `email_verification_expiry` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  KEY `fk_users_location` (`location_id`),
  CONSTRAINT `fk_users_location` FOREIGN KEY (`location_id`) REFERENCES `dealer_locations` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=87 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-11 13:59:56
